spring:
  application:
    name: tensquare-config
  cloud:
    config:
      server:
        git:
          uri: https://github.com/i9xx/tensquare
          search-paths: config

server:
  port: 12000